{
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "typescript",
  "overrides": [
    {
      "files": ["*.asconfig.json"],
      "options": {
        "parser": "json"
      }
    },
    {
        "files": ["*.json"],
        "options": {
          "parser": "json"
        }
      }
  ]
}
